<app-navbar></app-navbar>

<app-container>

    <span class="title-pokeapi">
        POKEAPI - LIST OF FAVORITE POKEMON
    </span>

    <section class="pokemon-container">
        <div *ngFor="let pokemon of pokemons" class="pokemon-item">
            <div class="pokemon">
                <div class="pokemon-img">
                    <img (click)="detalharPokemon(pokemon.id, pokemon.name)" [src]="pokemon.img" alt="{{ pokemon.name }}">
                  <button [ngClass]="{ 'favorited': pokemon.isFavorited }" (click)="removeToFavorite(pokemon)"></button>
                </div>
                <span>{{ pokemon.name }}</span>
            </div>
        </div>
    </section>

</app-container>

<app-footer></app-footer>

<app-message *ngIf="indShowMessage" [message]="message"></app-message>
