<app-navbar></app-navbar>

<app-container>

  <section>
    <span class="title-pokeapi">
      Check Pokemon Details
    </span>
    <span class="pokemon-name"> {{ name }}</span>
    <div class="pokemon-info">
      <img class="pokemon-image" src="{{ img }}" alt="Imagem do {{ name }}">
      <div class="width">
        <p><strong>HP:</strong> {{ hp }}</p>
        <p><strong>Attack:</strong> {{ attack }}</p>
        <p><strong>Defense:</strong> {{ defense }}</p>
        <p><strong>Special Attack:</strong> {{ specialAttack }}</p>
        <p><strong>Special defense:</strong> {{ specialDefense }}</p>
        <p><strong>Speed:</strong> {{ speed }}</p>
        <p><strong>Characteristics: </strong> {{ caracteristicas }} </p>
        <p><strong>Skills: </strong> {{ abilities }} </p>
        <p><strong>Type:</strong> {{ types }}</p>
      </div>
    </div>

    <div class="button-container">
        <app-button 
          [indDisabled]="false"
          [name]="'Return'"
          (action)="return()">
        </app-button>
    </div>
    
  </section>

</app-container>

<app-footer></app-footer>
