<app-navbar></app-navbar>

<app-container>

  <app-title
    [value]="'Check Pokémon Details'">
  </app-title>

  <section>
    <span class="pokemon-name"> {{ name }}</span>

    <div class="pokemon-container">
      <div class="pokemon-image">
        <img src="{{ img }}" alt="Imagem do {{ name }}">  
      </div>
      <div class="pokemon-table">
        <app-table
          [hp]="hp"
          [attack]="attack"
          [defense]="defense"
          [specialAttack]="specialAttack"
          [specialDefense]="specialDefense"
          [speed]="speed"
          [types]="types"
          [characteristics]="characteristics"
          [abilities]="abilities">
        </app-table>
      </div>
    </div>
  
    <div class="button-container">
      <app-button 
        [indDisabled]="false"
        [name]="'Return'"
        (action)="return()">
      </app-button>
    </div>
    
  </section>

</app-container>

<app-footer></app-footer>
