.pokemon-name {
  display: flex;
  justify-content: center;
  font-size: 35px;
  color: #000000;
  margin: 10px;
  text-transform: capitalize;
}

.pokemon-container {
  display: flex;
  padding: 1vw;
}

.pokemon-image, .pokemon-table {
  flex: 1;
}

.pokemon-image img {
  width: 20vw;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}