<app-navbar></app-navbar>

<app-container>

    <span class="title-pokeapi">
        PokeAPI - List of Pokémon
    </span>

    <section class="pokemon-container">
        <div *ngFor="let pokemon of pokemons" class="pokemon-item">
            <div class="pokemon">
                <div class="pokemon-img">
                    <img (click)="detalharPokemon(pokemon.id, pokemon.name)" [src]="pokemon.img" alt="{{ pokemon.name }}">
                    <button [ngClass]="{ 'favorited': pokemon.isFavorited }" (click)="checkFavorites(pokemon)"></button>
                </div>
                <span>{{ pokemon.name }}</span>
            </div>
        </div>
    </section>

    <section class="button-container">
        <button [disabled]="offset == 0" (click)="carregarListaPokemons(offset - 20, limit)">Previous page</button>
        <button (click)="carregarMaisPokemons(offset, limit)">Load more Pokémon</button>
        <button (click)="carregarListaPokemons(offset + 20, limit)">Next page</button>
    </section>   
    
</app-container>

<app-footer></app-footer>
