.pokemon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 10%;
}

.pokemon-item {
    flex: 0 0 18%;
    max-width: 18%; 
    box-sizing: border-box;
    margin: 1%;
}

.pokemon {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pokemon span {
    text-transform: capitalize;
    font-size: 20px;
    padding: 5px;
}

.pokemon-img {
    position: relative; 
    display: inline-block; 
}

.pokemon-img img{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    width: 10vw;
    border-radius: 10px;
}

.pokemon-img img:hover {
    background-color: #bab6b6;
    transform: scale(1.05);
    cursor: pointer;
}

.pokemon-img:hover button {
    background-color: #bab6b6;
}

.pokemon-img button {
    width: 30px;
    height: 30px;
    background-image: url('../../../assets/img/star-pokemon.png');
    background-color: #ffffff;
    background-size: cover;
    border: none;
    position: absolute;
    top: 5px; 
    right: 5px;
    outline: none;
}

.pokemon-img button:hover {
    transform: scale(1.2);
    background-color: #ffffff;
}

.button-container{
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
    padding: 10px;
}

.button-container button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #007bff;
    border: #ffffff;
    color: #ffffff;
    text-decoration: none;
}

.button-container button:not([disabled]):hover {
    background-color: #0056b3;
}

button:disabled {
    opacity: 0.5; 
    cursor: not-allowed;
}

.title-pokeapi{
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

