<app-navbar></app-navbar>

<app-container>

    <app-title
        [value]="'List of Pokémon'">
    </app-title>

    <app-list
        [options]="pokemons"
        [value]="pokemon"
        (clickImgAction)="detailPokemon($event)"
        (clickButtonAction)="checkFavorites($event)">
    </app-list>

    <section class="button-container">
        <app-button 
            [indDisabled]="offset == 0"
            [name]="'Previous page'"
            (action)="loadListPokemons(offset - 20, limit)" >
        </app-button>

        <app-button 
            [indDisabled]="false"
            [name]="'Load more Pokémon'"
            (action)="loadMorePokemons(offset, limit)">
        </app-button>

        <app-button 
            [indDisabled]="false"
            [name]="'Next page'"
            (action)="loadListPokemons(offset + 20, limit)" >
        </app-button>
    
    </section>   
    
</app-container>

<app-footer></app-footer>

<app-message *ngIf="indShowMessage" [message]="message"></app-message>