<app-navbar></app-navbar>

<app-container>

    <span class="title-pokeapi">
        PokeAPI - List of Pokémon
    </span>

    <app-list
        [options]="pokemons"
        [value]="pokemon"
        (clickImgAction)="detalharPokemon($event)"
        (clickButtonAction)="checkFavorites($event)">
    </app-list>

    <section class="button-container">
        <app-button 
            [indDisabled]="offset == 0"
            [name]="'Previous page'"
            (action)="carregarListaPokemons(offset - 20, limit)" >
        </app-button>

        <app-button 
            [indDisabled]="false"
            [name]="'Load more Pokémon'"
            (action)="carregarMaisPokemons(offset, limit)">
        </app-button>

        <app-button 
            [indDisabled]="false"
            [name]="'Next page'"
            (action)="carregarListaPokemons(offset + 20, limit)" >
        </app-button>
    
    </section>   
    
</app-container>

<app-footer></app-footer>

<app-message *ngIf="indShowMessage" [message]="message"></app-message>