<app-navbar></app-navbar>

<app-container>

    <span class="title-pokeapi">
        PokeAPI - List of Pokémon
    </span>

    <section class="pokemon-container">
        <div *ngFor="let pokemon of pokemons" class="pokemon-item">
            <div class="pokemon">
                <div class="pokemon-img">
                    <img (click)="detalharPokemon(pokemon.id, pokemon.name)" [src]="pokemon.img" alt="{{ pokemon.name }}">
                    <button [ngClass]="{ 'favorited': pokemon.isFavorited }" (click)="checkFavorites(pokemon)"></button>
                </div>
                <span>{{ pokemon.name }}</span>
            </div>
        </div>
    </section>

    <section class="button-container">
        <app-button 
            [indDisabled]="offset == 0"
            [name]="'Previous page'"
            (action)="carregarListaPokemons(offset - 20, limit)" >
        </app-button>

        <app-button 
            [indDisabled]="false"
            [name]="'Load more Pokémon'"
            (action)="carregarMaisPokemons(offset, limit)">
        </app-button>

        <app-button 
            [indDisabled]="false"
            [name]="'Next page'"
            (action)="carregarListaPokemons(offset + 20, limit)" >
        </app-button>
    
    </section>   
    
</app-container>

<app-footer></app-footer>

<app-message *ngIf="indShowMessage" [message]="message"></app-message>