* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(180deg, #05acff 0%, #e2ef72 80%);
}

.button-container{
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
  padding: 10px;
}