<section>

    <table>
        <tr>
            <td><strong>HP:</strong></td>
            <td>{{ hp }}</td>
        </tr>
        <tr>
            <td><strong>Attack:</strong></td>
            <td>{{ attack }}</td>
        </tr>
        <tr>
            <td><strong>Defense:</strong></td>
            <td>{{ defense }}</td>
        </tr>
        <tr>
            <td><strong>Special Attack:</strong></td>
            <td>{{ specialAttack }}</td>
        </tr>
        <tr>
            <td><strong>Special Defense:</strong></td>
            <td>{{ specialDefense }}</td>
        </tr>
        <tr>
            <td><strong>Speed:</strong></td>
            <td>{{ speed }}</td>
        </tr>
          <tr>
            <td><strong>Type:</strong></td>
            <td>{{ types }}</td>
        </tr>
           <tr>
            <td><strong>abilities:</strong></td>
            <td>{{ abilities }}</td>
        </tr>
        <tr>
            <td><strong>Characteristics:</strong></td>
            <td>{{ characteristics }}</td>
        </tr>
    </table>

</section>